.page-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 40px;
  padding-bottom: 40px;
}

.content-box {
  width: 100%;
  max-width: 700px;
  background: white;
  border-radius: 12px;
  padding: 30px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  animation: fadeIn 0.3s ease;
}

.content-box h2 {
  margin-top: 0;
  margin-bottom: 20px;
  color: #333;
  font-size: 24px;
  font-weight: 600;
}

.nova-publicacao {
    margin-bottom: 20px;
}

.titulo {
    padding: 100px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

input[type="text"],
textarea,
input[type="file"] {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #a8c8ff;
  background-color: #78a7f7;
  font-size: 15px;
  color: rgb(33, 17, 17);
  width: 100%;
  margin-bottom: 20px;
}

input[type="number"] {
    background-color: #78a7f7;
    margin-bottom: 20px;
    margin-left: 10px;
}

textarea {
  resize: vertical;
  min-height: 100px
}

.nova-secao {
    margin-bottom: 20px;
    background-color: #005fa3;
}

.bt {
  background-color: #005fa3;
  color: white;
  padding: 0.8rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  transition: 0.2s;
  align-items: center;
  width: 150px;
  margin-left: 20px;
  margin-right: 10px;
  margin-top: 20px;
}

.bt:hover {
  background-color: #004a82;
}

.bt:disabled {
  background-color: #789bb8;
  cursor: not-allowed;
}