.csv-upload-container {
  max-width: 600px;
  margin: 2rem auto;
  background: #ffffff;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  font-family: 'Segoe UI', Roboto, sans-serif;
  align-items: center;
  justify-content: center;
}

.csv-upload-container h2 {
  text-align: center;
  margin-bottom: 1rem;
  color: #005fa3;
  align-items: center;
}

.csv-card {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
}

.csv-label {
  font-weight: bold;
  align-items: center;
}

.filename {
  margin-top: -5px;
  color: #333;
  align-items: center;
}

.upload-btn {
  background-color: #005fa3;
  color: white;
  padding: 0.8rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  transition: 0.2s;
  align-items: center;
    width: 500px;
}

.upload-btn:hover {
  background-color: #004a82;
}

.upload-btn:disabled {
  background-color: #789bb8;
  cursor: not-allowed;
}

.line {
  margin-top: 10px;
  margin-bottom: 10px;
}

input[type="file"]::file-selector-button {
  border: 2px solid #6c5ce7;
  padding: 0.2em 0.4em;
  border-radius: 0.2em;
  background-color: #a29bfe;
  transition: 1s;
}

input[type="file"]::file-selector-button:hover {
  background-color: #81ecec;
}




