.section-selector-page {
  /* display: flex; */
  flex-direction: column;
  align-items: center;
}

.selector-container {
  align-content: center;
  display: flex;
  flex-direction: column;
  background: white;
  padding: 24px;
  width: 80%;
  max-width: 900px;
  border-radius: 12px;
  margin-top: 20px;
  box-shadow: 0 0 15px rgba(0,0,0,0.08);
  align-items: center;
  margin: 20px auto;
}


.selector-title {
  text-align: center;
  margin-bottom: 20px;
  color: #062046;
}

.selector-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.selector-item {
  background: #e8f1ff;
  padding: 14px;
  border-radius: 8px;
  text-decoration: none;
  color: #062046;
  font-weight: 600;
  border: 1px solid #c9daf5;
  transition: 0.2s;
}

.selector-item:hover {
  background: #d6e6ff;
  transform: scale(1.02);
}
