/* Reset e layout global */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden; /* impede barra de rolagem lateral */
  background-color: #add8e6; /* azul claro */
  font-family: Arial, Helvetica, sans-serif;
}

/* Centralização e layout principal */
#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  width: 100%;
  text-align: center;
}

/* Ajustes visuais */
section, main {
  width: 100%;
  max-width: 100%;
  padding: 2rem;
  box-sizing: border-box;
  overflow: hidden;
}


h1, h2, p {
  margin: 0.5rem 0;
}
